* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 0;
}

.wrap {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.head {
    color: rgb(100, 100, 100);
    height: 300px;
}

.head__city {
    font-size: 48px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.head__date {
    font-size: 24px;
    color: rgb(120, 120, 120);
}

.head__title {
    font-size: 24px;
    color: rgb(120, 120, 120);
}

.head__info {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 40px;
}

.head__icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head__icon-img {
    width: 100px;
    height: 100px;
}

.head__icon-temp {
    font-size: 48px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.head__icon-temp sup {
    font-size: 24px;
    color: rgb(120, 120, 120);
}

.head__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head__item {
    font-size: 18px;
    color: rgb(120, 120, 120);
}

.head__item span {
    color: rgb(61, 61, 61);
}

/* ---- Forecast ---- */

.forecast {
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
    position: relative;
}

.day::before,
.day::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.day::before {
    top: 0;
}

.day::after {
    bottom: 0;
}

.day__name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.day__icon {
    width: 100px;
    height: 100px;
}

.day__temp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day__temp-day {
    font-size: 24px;
    color: rgb(61, 61, 61);
}

.day__temp-night {
    font-size: 18px;
    color: rgb(120, 120, 120);
}

.day__pollen {
    font-size: 24px;
    color: rgb(61, 61, 61);
}

.day__pollen span {
    color: rgb(120, 120, 120);
}
