.wrapper {
    width: 1140px;
    margin: 0% auto;
    padding: 20px;
}

main {
    clear: both;
    column-count: 3;
    column-gap: 35px;
    column-rule: 5px dotted red;
}

.columns {
    column-width: 380px;
}

main img {
    width: 200px;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
}

.navigation {
    float: right;
}

.navigation ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul li {
    padding: 15px;
    background-color: burlywood;
    float: left;
    margin: 5px;
}

#img-first-column {
    float: left;
    margin-right: 10px;
}

#img-second-column {
    float: right;
    margin-left: 10px;
}

#img-third-column {
    float: right;
    margin-left: 20px;
}
